:root {

}

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 100%;
    display: flex;
}

.nav-item {
    list-style-type: none;
    list-style-position: inside;
    flex: 1 1 0;;
    justify-content: center;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* .viewAll {
    font-style: italic;
    font-size: .75em;
}

.viewAll:hover {
    cursor: pointer;
    font-style: italic;
} */

input {
    height: 20px;
    width: 250px;
}

#submitButton {
    /* display: block; */
    font-size: .75em;;
    margin-left: 10px;
    background-color: rgb(35, 35, 35);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

#submitButton:hover {
    background-color: rgb(80, 80, 80);
    border-color: red;
    cursor: pointer;
}

#startButton, #reTryButton {
    display: block;
    margin-bottom: 10px;
    background-color: rgb(35, 35, 35);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

#reTryButton, #nameInput {
    display: none;
    
}

#startButton:hover, #reTryButton:hover {
    background-color: rgb(80, 80, 80);
    border-color: red;
    cursor: pointer;
}

#content {
    display: none;
    /* background-color: rgb(218, 112, 112); */
    width: 500px;
    height: 100%;
}

#questionContainer {
    color: black;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    width: 100%;
    min-width: 200px;
    text-align: center;
}

#questionContainer li {
    background-color: rgb(35, 35, 35);
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    width: 100%;
    min-width: 200px;
    text-align: center;
}

#questionContainer li::first-line {
    color: white;
}

#questionContainer {
    display: none;
    padding-right: 15px;
}

#questionContainer li:hover {
    background-color: rgb(80, 80, 80);
    border-color: red;
    cursor: pointer;
}

.validation {
    color: rgb(167, 167, 167);
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    width: 100%;
    min-width: 200px;
    text-align: center;
    font-style: italic;
}
